[user]
	email = jadenjsuh@gmail.com
	name = Jaden Suh
[credential]
	helper = 
	helper = /usr/bin/git-credential-manager
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
